name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up GCC
      run: sudo apt-get update && sudo apt-get install -y build-essential

    - name: Compile Latest Lecture (L21)
      run: |
        # This compiles the specific file you just added
        g++ L21/*.cpp -o lecture_output
      
    - name: Run Program
      run: ./lecture_output
