name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Compile all folders
      run: |
        # This finds every .cpp file in any folder and tries to compile it
        # It's a great way to ensure all your DSA solutions are syntactically correct
        find . -name "*.cpp" -exec g++ -fsyntax-only {} +
